node_modules
.env
/generated/prisma
.agents
.claude
.windsurf
skills-lock.json
dist/
prisma/seed.js
prisma/seed.js.map
prisma/seed.d.ts
prisma/seed.d.ts.map
prisma7.config.js
prisma7.config.js.map
prisma7.config.d.ts
prisma7.config.d.ts.map
